li{
	list-style:none;
}
li span{
	padding-left: 20px;
	cursor: pointer;
  background: url("../images/add.png") no-repeat center left;
}
li ul{/*Step1: 定义起始样式,添加transition*/
  height:0;
  overflow:hidden;
  transition:all 0.5s linear;
  /*凡是添加了transition的元素，无论以任何途径修改样式时，都自带过渡效果！*/
}
.open{ background: url("../images/minus.png") no-repeat center left; }
.open+ul{/*Step2: 定义目标样式,来回变化*/
  height:104px; 
}